<h2>New right</h2>
<a  <%= link "Back to right list", to: right_path(@conn, :index) %>

<%= render "form.html", changeset: @changeset, actions: @actions, modules: @modules,
                        action: right_path(@conn, :create) %>

<%= link "Back", to: right_path(@conn, :index) %>
