<h2>Adding or removing rights to the role</h2>

<%= render "form.html", changeset: @changeset, role: @role, rights: @rights,
                        action: role__right_path(@conn, :update, @role) %>

<%= link "Back", to: role__right_path(@conn, :index) %>
