<h2>New role  right</h2>

<%= render "form.html", changeset: @changeset,roles: @roles, rights: @rights,
                        action: role__right_path(@conn, :create) %>

<%= link "Back", to: role__right_path(@conn, :index) %>
